# .env.example

# PostgreSQL local service
PGHOST=db
PGPORT=5432
PGUSER=postgres
PGPASSWORD=changeme
PGDATABASE=sifadecodb

# Backend
JWT_SECRET=your_jwt_secret_here
FRONTEND_ORIGINS=http://localhost,http://127.0.0.1

# Redis (opcionales)
USE_REDIS=false # Si es false no hace falta configurar las siguientes variables
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
